#container {
    background-color: rgb(0, 26, 255);
    text-align: center;
    color: ivory;
    box-sizing: content-box;
    width: 900px;
    margin-left: 200px;
    margin-right: 200px;
}

#bodycon {
    background-color: dodgerblue;
    color: gainsboro;
    width: 900px;
}
#header
#start {
    
}