#container {
    background-color:orange;
    text-align: center;
    color: black;
    box-sizing: content-box;
    width: 900px;
    margin-left: 100px;
    margin-right: 100px;
}

#bodycon {
    background-color: orange;
    color: black;
    width: 900px;
}

#image {
    width: 200px;
    height: 100px;
}
